{{ partial "meta" . }} 
{{ $incidents := where .Site.RegularPages "Params.section" "issue" }} 
{{ $active := where $incidents "Params.resolved" "=" false }} 
{{ $isNotice := where $active "Params.severity" "=" "notice" }} 
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }} 
{{ $isDown := where $active "Params.severity" "=" "down" }} 
{{ partial "header" . }}


  <body class="status-homepage">    
    <!-- Main -->
    <main id="main-content">

    <!-- Enable JavaScript banner -->
    {{ partial "index/noscript" . }}
    <div class="grid-container">
        <button class="usa-button usa-button--secondary summary__date clicky float-right" onclick="location.reload()"></button>
      </div>

      <!-- Announcement box (title and short summary) -->
      <section id="announcements" class="usa-section">
        
        <div class="grid-container">
        <h1>Status</h1>
        {{ partial "index/announcements" . }}
        </div>
      </section>

      <!-- Individual component info-->
      <section id="components" class="usa-section">
        <div class="grid-container">
        <h1>Components</h1>
        {{ partial "index/components" . }}
        </div>
        {{ if .Site.Params.enableCustomHTML }}
          {{ partial "custom/homepage-summary" . }}
        {{ end }}
      </section>

      <!-- End main -->

      <!-- All incidents + pagination -->
      <section id="incidents" class="usa-section">
        <div class="grid-container">
          {{ partial "index/incidents" . }}
        </div>
      </section>
  {{ partial "js" . }}
  {{ partial "footer" . }}
  </main>
</body>
</html>